# Dependencies
node_modules/
# pnpm-lock.yaml

# Environment variables
.env

# Build outputs (TypeScript compilation)
dist/
*.tsbuildinfo


# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS files
.DS_Store

# Editor
.vscode/
.idea/

# Temporary files
tmp/
temp/

# Coverage
coverage/